{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'pico-1.5.11/css/pico.min.css' %}">
    <style>
        #chat-messages {
            max-height: 400px; /* Измените это на ваше предпочтение */
            overflow-y: auto;
            padding: 50px;
            /*border: 1px solid #ccc; /* Добавьте рамку для стилизации */
            border-radius: 5px; /* Закруглите углы */
        }
    
        .message-item {
            margin-bottom: 10px; /* Расстояние между сообщениями */
        }
        header, footer{
            height: 60px;
        }
    </style>
       
</head>
<body class="bg-dark text-light">
    <article>
        <header>
            <nav class="container bg-dark text-light py-2 my-2">
                <ul>
                    <li><strong> <a href="{% url 'chat_list' %}"><img src="{% static 'images/dj_gif.gif' %}" style="width: 70px; height: 57px;" alt="Brand Logo"></a></strong></li>
                </ul>
                <ul>
                    <li><a href="{% url 'chat_list' %}" class="secondary">Профиль пользователя <strong>{{username}}</strong> </a></li>
                </ul>
            </nav>
        </header>
    </article>
    <main class="container">
        <div class="container py-2 my-2 bg-light text-dark">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <article>
        <footer>
            <nav>
                <li></li>
                <li></li>
                <li><a href="https://github.com/krinyo/dj_chat"><img src="{% static 'images/github-mark-white.png' %}" style="width: 20px; height: 20px;" alt=""></a></li>
            </nav>
        </footer>
    </article>
</body>
</html>
