{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'pico-1.5.11/css/pico.min.css' %}">
</head>
<body class="bg-dark text-light">
    <nav class="container bg-dark text-light py-2 my-2">
        <a href="{% url 'chat_list' %}" class="btn btn-primary">Чаты</a>
        <a href="{% url 'logout' %}" class="btn btn-primary float-right">Выйти</a>
    </nav>
    <div class="container py-2 my-2 bg-light text-dark">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>






