{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3>{{ chat.name }}</h3>
    <div id="chat-participants">
        <nav>
            <ul>
                {% for participant in participants %}
                    <li><a>{{ participant.username }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div id="chat-messages">
        {% for message in chat.messages.all %}
            <div class="message-item" id="message-{{ message.id }}">
                <p><strong>{{ message.author.username }}</strong>: {{ message.text }} <small>{{ message.created_at }}</small></p>
            </div>
        {% endfor %}
    </div>

    <form id="message-form" data-username="{{username}}" data-chat-id="{{chat.room_name}}">
        <input id="message-input" type="text" />
        <button type="submit">Отправить</button>
    </form>

    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}