{% extends 'base.html' %}

{% block content %}
    <h1>{{ chat.name }}</h1>
    <div id="message-list" class="message-list">
        {% for message in chat.messages.all %}
            <div class="message-item">
                <p><strong>{{ message.author.username }}</strong>: {{ message.text }} <small>{{ message.created_at }}</small></p>
            </div>
        {% endfor %}
    </div>
    <form id="message-form" method="post">
        {% csrf_token %}
        <textarea id="message-input" name="message" class="form-control mb-3"></textarea>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    <script>
        document.querySelector('#message-form').addEventListener('submit', function(e) {
            e.preventDefault();
            let messageInput = document.querySelector('#message-input');
            let message = messageInput.value;
            messageInput.value = '';
            fetch('/chats/chat_{{ chat.pk }}/send_message/', {
                method: 'POST',
                body: JSON.stringify({
                    'message': message,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function(response) {
                return response.text();
            }).then(function(text) {
                // Здесь вы можете добавить сообщение в список сообщений на странице.
            });
        });
    </script>
    
{% endblock %}



