{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3>{{ chat.name }}</h3>
    <div id="chat-participants">
        <nav>
            <ul>
                {% for participant in participants %}
                    {% if participant.username == username %}
                        <li><strong><a>{{ participant.username }}</a></strong></li>
                    {% else %}
                        <li><a>{{ participant.username }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>


    <form id="message-form" data-username="{{username}}" data-chat-id="{{chat.room_name}}">
        <article>
            <div id="chat-messages">
                {% for message in chat.messages.all %}
                    <div class="message-item" id="message-{{ message.id }}">
                        <p>{{ message.author.username }}: {{ message.text }} <small>{{ message.created_at }}</small></p>
                    </div>
                {% endfor %}
            </div>
        </article>
        <div class="grid">
            <div><input id="message-input" type="text" style="flex-grow: 1; margin-right: 10px;" /></div>
            <div><button type="submit" class="outline" style="width: 50px; height: 50px;">></button></div>
        </div>
    </form>

    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}